body {
  background-color: $bg-lighter;
  font-size: 22px;
  line-height: 40px;
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  color: white;
}
img {
  max-width: 100%;
  height: auto;
}
